<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Redes y publicidad</title>
</head>
<body>
    <!--Inicia el header-->

    <header>
        <section>

            <!--Logo-->

            <div class="logo">

                <a href="../index.html"><img src="../img/logo.png" alt="Logo Propuestavisual" class="logoImagen"></a>

            </div>

            <!--Inicia el menú-->
            <div class="menu">
                <nav>
                    <ul class="menuLista">
                        <li class="menuItem"> 
                            <a href="../index.html" >Inicio</a>
                        </li>
                        <li class="menuItem"><a href="../index.html#servicios">Servicios</a>
                            <ul class="subMenu">
                                <li><a href="./diseñoWeb.html">Diseño web</a></li>
                                <li> <a href="./fotoYvideo.html">Foto y video</a></li>
                                <li> <a href="./redesYpublicidad.html">Redes y publicidad</a></li>
                            </ul>
                        </li>
                        <li class="menuItem"><a href="../index.html#portfolio">Portfolio</a>
                            <ul class="subMenu">
                                <li><a href="./trabajos.html">Trabajos</a></li>
                            </ul>
                        </li>
                        <li class="menuItem"> <a href="../index.html#contacto"">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <!--Título principal de página-->

    <main>

        <section>

                <div>
    
                    <div>
                        <h1>Redes y publicidad</h1>
                    </div>
    
                    <div>
                        <p>Descripción del título principal</p>
                    </div>
    
                    <div>
                        <a href="#">Botón principal diseño web</a>
                        <a href="#">Botón secundario diseño web</a>
                    </div>
    
                    <div>
                        <img src="" alt="Imagen principal redes y publicidad">
                    </div>
    
        </section>

        <hr>

        <section>

            <div>

                <h2>¿Lorem ipsum dolor?</h2>

                <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>
                <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>  <div>
                    <h3>Lorem ipsum dolor </h3>
                    <p>Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor</p>
                    <img src="#" alt="Caracteristica servicio">
                </div>
            </div>

        </section>

        <hr>


        <section>
            <div>
                <div>
                    <p>¿Lorem ipsum dolor?</p>
                </div>
                <div>
                    <a href="#">Botón del servicio Redes y Publicidad</a>
                </div>
            </div>
        </section>

    </main>
    <hr>


    <!--Inicia el footer-->

    <footer>

        <section>
           <div class="footer">

               <div class="footerUno">
                   <h4>Texto Footer 1</h4>
               </div>

               <div class="footerDos">
                   <h4>Texto Footer 2</h4>
               </div>

               <div class="footerTres">
                   <h4>Texto Footer 3</h4>
               </div>

           </div>
       </section>
    </footer>

</body>
</html>