<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Redes y publicidad</title>
</head>
<body>
    
    <!--Inicia el header-->
                
    <header>

        <!--Inicia el menú-->

            <section>
                <nav>
                    
                    <a href="../index.html"><img src="../img/logo.png" alt="Logo Propuestavisual" class="logoImagen"></img></a>
                    
                    <ul>
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="../index.html#servicios">Servicios</a>
                        <ul>
                            <li><a href="./diseñoWeb.html">Diseño web</a></li>
                            <li><a href="./fotoYvideo.html">Foto y video</a></li>
                            <li><a href="./redesYpublicidad.html">Social media</a></li>
                        </ul>
                        </li>
                        <li><a href="../index.html#portfolio">Portfolio</a>
                        <ul>
                            <li><a href="./trabajos.html">Trabajos</a></li>
                        </ul>
                        </li>
                        <li><a href="../index.html#contacto">Contacto</a></li>
                    </ul>
                    
                </nav>
        
            </section>
    </header>

    <!--Título principal de página-->

    <main>

        <section class="heroServicios">
    
                    <div class="ctaServicios">
                        <h1>Social media</h1>
                        <p>Llevá tu marca al próximo nivel</p>
                        <a href="../index.html#contacto" id="botonServiciosUno">¡Empezar!</a>
                    </div>
    
                    <div class="imagenServicios">
                        <img src="../img/heroSocialMedia.png" alt="Imagen principal social media">
                    </div>
    
        </section>
    
    
    
        <section>
    
            <div class="beneficiosServicios">
    
    
                <h2>¿Qué ofrecemos?</h2>
    
                <div class="contenedorUno">
                    <div>
                    <h3 class="tituloContenedor">Plan de marketing</h3>
                    <p class="parrafoContenedor">Desarrollamos en conjunto una estrategia integral acorde a las necesidades de tu marca para cumplir los objetivos.</p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia1.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
                <div class="contenedorDos">
                    <div>
                    <h3 class="tituloContenedor">Contenido para redes</h3>
                    <p class="parrafoContenedor">Olvidate de diseñar. Generamos piezas gráficas para todas tus redes y si lo combinas con el servicio de "foto y video" <b>¡explota!</b></p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia2.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
                <div class="contenedorUno">
                    <div>
                    <h3 class="tituloContenedor">Moderación</h3>
                    <p class="parrafoContenedor">¿Te lleva mucho tiempo responder las consultas y los comentarios?. No te preocupes! ofrecemos moderación de redes.</p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia3.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
                <div class="contenedorDos">
                    <div>
                    <h3 class="tituloContenedor">Campañas digitales</h3>
                    <p class="parrafoContenedor">¿Buscás potenciales clientes? Desarrollamos campañas de Facebook, Instagram y Google para optimizar objetivos.</p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia4.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
                <div class="contenedorUno">
                    <div>
                    <h3 class="tituloContenedor">Más tiempo para vos</h3>
                    <p class="parrafoContenedor">Acordamos un estricto cronograma de contenidos para que le puedas dedicar tu tiempo a otras areas de la marca.</p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia5.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
                <div class="contenedorDos">
                    <div>
                    <h3 class="tituloContenedor">Reportes</h3>
                    <p class="parrafoContenedor">Todos nuestros servicios cuentan con informes simples y claros para que estes al tanto de tu marca.</p>
                    </div>
                    <div>
                    <img src="../img/beneficioSocialMedia6.png" alt="Caracteristica servicio" class="imagenContenedor">
                    </div>
                </div>
            </div>
    
        </section>
    
        <section class="sectionCtaServicios">
            <div class="ctaServiciosDos">
                <div class="textoCtaServiciosDos">
                    <p>¿Estás listo para empezar?</p>
                </div>
                <div id="contenedorBotonTres">
                    <a href="../index.html#contacto" id="botonServiciosTres">Contactar</a>
                </div>
            </div>
        </section>
    
    
    
        </main>


    <!--Inicia el footer-->

    <footer>

    <section>
    <div class="footer">

        <div class="footerUno">
            <h4><a href="../index.html#contacto">¿Empezamos?</a></h4>
        </div>

        <div class="footerDos">
            <h4>Propuestavisual 2021 ©</h4>
        </div>

        <div class="footerTres">
            <div class="iconosContactoFooter">
                <a href="#"><img src="../img/iconoInstagramFooter.png" alt="Icono Instagram"></a>
                <a href="#"><img src="../img/iconoYoutubeFooter.png" alt="Icono Youtube"></a>
                <a href="#"><img src="../img/iconoWhatsappFooter.png" alt="Icono Whatsapp"></a>
            </div>
        </div>

    </div>
    </section>
    </footer>

</body>
</html>