<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajos</title>
</head>
<body>
    <!--Inicia el header-->

    <header>

        <!--Logo-->

        <h1>Logo</h1>

        <!--Inicia el menú-->

        <nav>
            <ul>
                <li > 
                    <a href="../index.html">Inicio</a>
                </li>
                <li><a href="../index.html#servicios">Servicios</a>
                    <ul>
                        <li><a href="./Diseño-web.html">Diseño web</a></li>
                        <li> <a href="./Foto-y-video.html">Foto y video</a></li>
                        <li> <a href="./Redes-y-publicidad.html">Redes y publicidad</a></li>
                    </ul>
                </li>
                <li><a href="../index.html#portfolio">Portfolio</a>
                    <ul>
                        <li><a href="./Trabajos.html">Trabajos</a></li>
                    </ul>
    
                </li>
                <li> <a href="../index.html#contacto">Contacto</a>
                </li>
            </ul>
        </nav>

    </header>

    <!--Título principal de página-->

    <h1>Trabajos</h1>

    <hr>

    <!--Inicia el footer-->

    <footer>
        
        <h4>Texto Footer 1</h4>
        <h4>Texto Footer 2</h4>
        <h4>Texto Footer 3</h4>

     </footer>

</body>
</html>