<!DOCTYPE html>
<html lang="es">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!--Bootstrap-->
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         <!--Bootstrap-->
         <link rel="stylesheet" href="../styles/style.css">
        <title>Trabajos | Propuestavisual</title>
    </head>
</head>
<body>

    <!--Inicia el header-->
        
    <header>

            <!--Inicia el menú-->

                <section>
                    <nav class="navbar navbar-expand-lg navbar-light bg-#fff">
                        <div class="container">
                          <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="logo propuestavisual" class="logoImagen"></a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
                            <ul class="navbar-nav align-items-center">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                              </li>
                              <li class="nav-item dropdown text-center">
                                <a class="nav-link dropdown-toggle" href="../index.html#servicios" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                  Servicios
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="./diseñoWeb.html">Diseño web</a></li>
                                  <li><a class="dropdown-item" href="./fotoYvideo.html">Foto y video</a></li>
                                  <li><a class="dropdown-item" href="./redesYpublicidad.html">Social media</a></li>
                                </ul>
                              </li>
                              <li class="nav-item dropdown text-center">
                                <a class="nav-link dropdown-toggle" href="../index.html#portfolio" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Portfolio
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" href="./trabajos.html">Trabajos</a></li>
                                </ul>
                              <li class="nav-item">
                                <a class="nav-link" href="../index.html#contacto">Contacto</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>       
        
            
                </section>
     </header>

    <!--Título principal de página-->

    <main>
        <section>

            <div class="heroTrabajos">
    
                    <h1>Trabajos</h1>

                </div>


        </section>

  

        <section>

   
            <div class="trabajos">
               
        
                 
                    <div class="trabajoUno">
                        <img src="../img/bellaroma.jpg" alt="ejemplo sitio web">
                        <h3>Bellaroma.online</h3>
                        <p>Bellaroma es una tienda online dedicada a la venta de artículos de decoración. Cuenta con una fuerte presencia en Mercadolibre y nos eligió para dar el siguiente paso desarrollando su tienda personal.</p>
                        <a href="https://www.bellaroma.online" target="_blank">Ver sitio</a>
                    </div>
                
              
                    <div class="trabajoDos">
                        <img src="../img/melinapaez.jpg" alt="ejemplo sitio web">
                        <h3>Melinapaez.com.ar</h3>
                        <p>Melinapaez es una marca de ropa artesanal con varios años de trayectoria. Cuenta con vendedoras a lo largo del país y confío en nosotros para desarrollar su catálogo online, dando así, una pronta difusión a sus nuevas colecciones.</p>
                        <a href="http://www.melinapaez.com.ar" target="_blank">Ver sitio</a>
                    </div>
                

                
            </div>
        </div>
        </section>

    </main>

    <!--Inicia el footer-->

    <footer>

        <section>
           <div class="footer">

               <div class="footerUno">
                   <h4><a href="../index.html#contacto">¿Empezamos?</a></h4>
               </div>

               <div class="footerDos">
                   <h4>Propuestavisual 2021 ©</h4>
               </div>

               <div class="footerTres">
                <div class="iconosContactoFooter">
                    <a href="#"><img src="../img/iconoInstagramFooter.png" alt="Icono Instagram"></a>
                    <a href="#"><img src="../img/iconoYoutubeFooter.png" alt="Icono Youtube"></a>
                    <a href="#"><img src="../img/iconoWhatsappFooter.png" alt="Icono Whatsapp"></a>
                </div>
               </div>

           </div>
       </section>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>