<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Trabajos | Propuestavisual.com</title>
</head>
<body>

    <!--Inicia el header-->
        
    <header>

            <!--Inicia el menú-->

                <section>
                    <nav>
                        
                        <a href="../index.html"><img src="../img/logo.png" alt="Logo Propuestavisual" class="logoImagen"></img></a>
                        
                        <ul>
                            <li><a href="../index.html">Inicio</a></li>
                            <li><a href="../index.html#servicios">Servicios</a>
                            <ul>
                                <li><a href="./diseñoWeb.html">Diseño web</a></li>
                                <li><a href="./fotoYvideo.html">Foto y video</a></li>
                                <li><a href="./redesYpublicidad.html">Social media</a></li>
                            </ul>
                            </li>
                            <li><a href="../index.html#portfolio">Portfolio</a>
                            <ul>
                                <li><a href="./trabajos.html">Trabajos</a></li>
                            </ul>
                            </li>
                            <li><a href="../index.html#contacto">Contacto</a></li>
                        </ul>
                        
                    </nav>
            
                </section>
     </header>

    <!--Título principal de página-->

    <main>
        <section>

            <div class="heroTrabajos">
    
                    <h1>Trabajos</h1>

                </div>


        </section>

  

        <section>

   
            <div class="trabajos">
               
        
                 
                    <div class="trabajoUno">
                        <img src="../img/bellaroma.jpg" alt="ejemplo sitio web">
                        <h3>Bellaroma.online</h3>
                        <p>Bellaroma es una tienda online dedicada a la venta de artículos de decoración. Cuenta con una fuerte presencia en Mercadolibre y nos eligió para dar el siguiente paso desarrollando su tienda personal.</p>
                        <a href="https://www.bellaroma.online" target="_blank">Ver sitio</a>
                    </div>
                
              
                    <div class="trabajoDos">
                        <img src="../img/melinapaez.jpg" alt="ejemplo sitio web">
                        <h3>Melinapaez.com.ar</h3>
                        <p>Melinapaez es una marca de ropa artesanal con varios años de trayectoria. Cuenta con vendedoras a lo largo del país y confío en nosotros para desarrollar su catálogo online, dando así, una pronta difusión a sus nuevas colecciones.</p>
                        <a href="http://www.melinapaez.com.ar" target="_blank">Ver sitio</a>
                    </div>
                

                
            </div>
        </div>
        </section>

    </main>

    <!--Inicia el footer-->

    <footer>

        <section>
           <div class="footer">

               <div class="footerUno">
                   <h4><a href="../index.html#contacto">¿Empezamos?</a></h4>
               </div>

               <div class="footerDos">
                   <h4>Propuestavisual 2021 ©</h4>
               </div>

               <div class="footerTres">
                <div class="iconosContactoFooter">
                    <a href="#"><img src="../img/iconoInstagramFooter.png" alt="Icono Instagram"></a>
                    <a href="#"><img src="../img/iconoYoutubeFooter.png" alt="Icono Youtube"></a>
                    <a href="#"><img src="../img/iconoWhatsappFooter.png" alt="Icono Whatsapp"></a>
                </div>
               </div>

           </div>
       </section>
    </footer>

</body>
</html>