 /* Sección Menú */
      
        .navbar{
            box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.100);
            margin-bottom: 30px;

            .logoImagen {
                width: 250px;
            }

            .dropdown-menu{
                padding:1rem;
                width:12rem;
                box-shadow:2px 2px 10px 1px rgba(0, 0, 0, 0.100);
                border-radius:10px;
                background:white;

                .dropdown-item:hover{
                    background-color:#E9F4FF;
                  }
            }

            .nav-link{
                color: #000!important;
                font-weight: bold;
                font-size: 1rem;
              }    
        }

/* --------------- INICIA LA VISTA HASTA 480PX  ---------------------*/

@media only screen and  (max-width: 480px) {
 
    .navbar{

        .logoImagen {
            width: 220px;
        }
    }
}

/* --------------- INICIA LA VISTA HASTA 320PX  ---------------------*/

@media only screen and  (max-width: 320px) {
 
    .navbar{

        .logoImagen {
            width: 190px;
        }
    }
}
        

        
 
    