/* Estilos generales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Poppins', sans-serif;

}

h1{
    color: #002bad;
    font-size:50px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}


h2{
    color: #002bad;
    font-size:40px;
    font-weight: bold;
    letter-spacing: 1px;
}

h3 {
    font-size: 25px;
    letter-spacing: 1px;
}

h4 {

    font-size: 20px;
}

h3, h4 {
    color:#3C559E;
}


/* Estilos individuales */

    /* Inicia el Header */

        /* Inicia sección Menú */


        .logo{
            display: flex;
            justify-content: center;
        }



        .logoImagen {
            width: 250px;
        }

        .menuLista {
            list-style: none;
            font-size:0;
            background-color:rgb(47, 56, 173);
        }

        .menuItem {
            display: inline-block;
            width: 25%;
            position:relative;
            border: 1px solid white;
            text-align:center;
        }

        .subMenu {
            position: absolute;
            display: none;
            width:100%;
        }

        .subMenu li {
            display: block;
            width:100%;
            border: 1px solid white;
        }
        
        .menuLista li:hover ul {
            display:block;
            background-color: royalblue;
        }

        .menuLista a{
            color: rgb(255, 255, 255);
            text-decoration-line: none;
            font-size: 18px;
            line-height: 1.8;
            
        }

    
         

    /* Inicia el Main */


        /* Inicia sección Hero */

        div.hero{
            display: flex;
            justify-content: space-around;
            align-items: center;

        }



        .tituloPrincipal>h1{
            color: #002bad;
            font-size:50px;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: left;
        
        }

        div.descripcionPrincipal>p {
            font-size:28px;
            text-align: left;
        }

        #botonPrincipalUno{
        
            display: inline-block;
            font-size: 18px;
            color: royalblue;
            border: solid;
            background-color: rgb(255, 255, 255);
            border-color:royalblue;
            border-radius: 5px;
            border-width: 1px;
            text-decoration: none;
            padding: 8px;
            margin: 50px 0 0 0;
        }

        #botonPrincipalUno:hover {
            color: white;
            background-color: royalblue;
            transition: 0.3s;

        }

        div.imagenPrincipal>img {
            width: 650px;
            height: 433px;
        }

        /* Inicia sección Servicios */

        .servicios {

            margin:50px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .servicioUno, .servicioDos, .servicioTres {

            text-align: center;
            margin: 0px 30px;

        }

        .servicioUno>a>img, .servicioDos>a>img, .servicioTres>a>img {
            width: 100px;
            height: 100px;
        }

        .servicioUno>h4, .servicioDos>h4, .servicioTres>h4 {
            font-size: 28px;
        }

        .servicioUno>p, .servicioDos>p, .servicioTres>p {
            font-size: 20px;
        }


        /* Inicia sección Testimonios */

    
        .testimonios {
            background-image: url("../img/fondoTestimonial.jpg");
            background-size: cover;
            height: 300px;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;       
        }

        .testimonioUno, .testimonioDos, .testimonioTres {
            text-align: center;
        }

        .testimonioUno>h4, .testimonioDos>h4, .testimonioTres>h4 {
            font-size: 28px;
        }

        .testimonioUno>p, .testimonioDos>p, .testimonioTres>p {
            font-size: 20px;
        }

        /* Inicia sección Portfolio */

        .portfolio{
            display: flex;
            justify-content: center;
            margin: 30px;
            align-content: center;

        }

        .itemsPortfolio{
            display: flex;
            flex-direction: column;
            margin: 0 40px;

        }

        .tituloPortfolio, .beneficiosPortfolio, #botonPortfolioUno  {
            margin: 15px;
        }


        .imagenPortfolio img{
            width: 350px;
            margin: 0 40px;
      

        }

        #botonPortfolioUno {
            font-size: 13px;
            width: fit-content;
            color: royalblue;
            border: solid;
            background-color: white;
            border-color: royalblue;
            border-width: 1px;
            border-radius: 5px;
            text-decoration: none;
            padding: 5px;

        }

        #botonPortfolioUno:hover {
            color: white;
            background-color: royalblue;
            transition: 0.3s;

        }


        /* Inicia sección Contacto */

        div.contacto {
            display: flex;
            justify-content: space-around;
            margin: 30px;

        }

        

        div.descripcionContacto>p {
            font-size: 20px;
        }

        
        div.iconosContacto>a>img {
            width: 23px;
            margin: 30px 5px 10px 0px;
        }


        /* Formulario */

       form {
        width: fit-content;
       }

       form>fieldset>legend {
        font-size: 20px;
        font-weight: bold;
       }


       fieldset {
        border-radius: 8px;
        border-color: rgb(143, 172, 226);
        padding: 25px;
        }       

        .campoFormulario {
            border: 1px solid;
            border-color: rgb(143, 172, 226);
            border-radius: 2px;
            outline: none;
            color: rgb(143, 172, 226);
            width: 100%;
        }

        .campoFormulario::placeholder { 
            color: rgb(143, 172, 226); 
        }

        .botonesFormulario{
            display: flex;
            justify-content: center;
        }

        #botonFormularioBorrar{
            color: white;
            background-color: rgb(214, 103, 103);
            border: solid 1px;
            border-radius: 3px;
            padding: 8px;
            margin-right: 5px;

        }

       #botonFormularioEnviar{
            color: white;
            background-color: rgb(103, 214, 140);
            border: solid 1px;
            border-radius: 3px;
            padding: 8px;
            margin-left: 5px;

        }


        /* Footer */

        .footer{
            background-color: rgba(101, 136, 243, 0.445);
            padding: 20px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .footerUno, .footerDos, .footerTres {

            text-align: center;

        }




